# LaTeX output
*_files/
main.*
.main.*
*.aux
*.bcf
*.cb
*.cb2
*.fls
*.log
*.out
*.pdf
*.pdf_tex
*.run.xml
*.toc
svg_inkscape

# Visual Studio Code
.vscode/

# macOS Finder detritus
.DS_Store

# Local build space
build/
archivedTex/
